In [28]:
a = list("hello world")

In [29]:
len(a)

11

## TUPLES

In [30]:
# immutable
# iterable

In [31]:
tuple()
()

()

In [32]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [33]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [34]:
tuple([1,2,3], "Techpro")

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
tuple_1 = ("Techpro", 3, 3.14, False, [1,2,3])
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [ ]:
type(tuple_1)

tuple

In [ ]:
tuple(123)

TypeError: 'int' object is not iterable

In [ ]:
name = "Basak"

In [ ]:
tuple(name)

('B', 'a', 's', 'a', 'k')

In [ ]:
pi_number = 3,14
pi_number

(3, 14)

In [ ]:
type(pi_number)

tuple

In [ ]:
len(pi_number)

2

In [ ]:
["Techpro"]

['Techpro']

In [ ]:
["Techpro", 3, False]

['Techpro', 3, False]

In [ ]:
("Techpro")

'Techpro'

In [ ]:
(123)

123

In [ ]:
("Techpro",)

('Techpro',)

In [35]:
tek_elemanli = ("Techpro",   )

In [36]:
len(tek_elemanli)

1

In [37]:
type(tek_elemanli)

tuple

In [38]:
tuple_olmayan = (123.5) # virgul yok

In [ ]:
type("tecpro",) # fonksiyonun ikinci parametresinin girilecegini dusunur

In [39]:
type(("techpro",))

tuple

In [40]:
liste_1 = 3, 2, 5 #koseli parentezi unutursal tuple olusur
liste_1

(3, 2, 5)

In [41]:
type(liste_1)

tuple

In [42]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [43]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [45]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [46]:
("Techpro", 3, False) + ("Sedat")

TypeError: can only concatenate tuple (not "str") to tuple

In [47]:
("Techpro", 3, False) + ("Sedat",) # bir virgul nelere kadir

('Techpro', 3, False, 'Sedat')

Indexing & Slicing

In [63]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))

In [64]:
tuple_2[3]

['Tulay', 5, 6]

In [65]:
tuple_2[3][0]

'Tulay'

In [66]:
tuple_2[4]

('Zeynep', 2, 3.14)

In [67]:
tuple_2[4][1]

2

In [68]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))

In [69]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [70]:
tuple_2[3:0]

()

In [71]:
tuple_2[3:0:-1]

(['Tulay', 5, 6], True, 4)

In [73]:
tuple_2[0]

'Aslan'

In [74]:
tuple_2[0] = "Meltem"

TypeError: 'tuple' object does not support item assignment

In [75]:
tuple_2[1]

4

In [78]:
tuple_2[1] = 5
tuple_2

TypeError: 'tuple' object does not support item assignment

In [79]:
tuple_2[3]

['Tulay', 5, 6]

In [81]:
tuple_2[3].append(7)

In [82]:
tuple_2 # tuple lar hala immutable

('Aslan', 4, True, ['Tulay', 5, 6, 2, 7], ('Zeynep', 2, 3.14))

In [83]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 2, 7], ('Zeynep', 2, 3.14))

In [84]:
tuple_2[0]

'Aslan'

In [85]:
tuple_2[0].upper()

'ASLAN'

In [86]:
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 2, 7], ('Zeynep', 2, 3.14))

In [87]:
tuple_2[3]

['Tulay', 5, 6, 2, 7]

In [88]:
tuple_2[3].remove(5)

In [89]:
tuple_2

('Aslan', 4, True, ['Tulay', 6, 2, 7], ('Zeynep', 2, 3.14))

In [90]:
del tuple_2[3]

TypeError: 'tuple' object doesn't support item deletion

In [91]:
del tuple_2

In [92]:
tuple_2

NameError: name 'tuple_2' is not defined

In [93]:
tuple_2 = ('Aslan', 4, True, ['Tulay', 6, 2, 7], ('Zeynep', 2, 3.14))

In [94]:
tuple_2[3]

['Tulay', 6, 2, 7]

In [95]:
tuple_2[0]

'Aslan'

In [96]:
name = "Aslan"

In [97]:
name.upper()

'ASLAN'

In [98]:
name

'Aslan'

In [99]:
tuple_2[0].upper()

'ASLAN'

In [101]:
tuple_2

('Aslan', 4, True, ['Tulay', 6, 2, 7], ('Zeynep', 2, 3.14))

# Tuple Methods

In [102]:
tuple_3 = (1, 4, 2, 5, 1, 3, 2, 4)

In [103]:
tuple_3.count(4)

2

In [104]:
tuple_3.count(1)

2

In [105]:
tuple_3.count("Techpro")

0

In [107]:
tuple_3.index(5)

3

In [108]:
tuple_3

(1, 4, 2, 5, 1, 3, 2, 4)

In [109]:
tuple_3.index(4)

1

In [110]:
tuple_3.index(7)

ValueError: tuple.index(x): x not in tuple

In [111]:
tuple_2.index([])

ValueError: tuple.index(x): x not in tuple

In [112]:
tuple_2.index(['Tulay', 6, 7])

ValueError: tuple.index(x): x not in tuple

# range()

In [113]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [114]:
range(4,10)

range(4, 10)

In [115]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [116]:
tuple(range(4, 10))

(4, 5, 6, 7, 8, 9)

In [117]:
range(4,10)[1]

5

In [118]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
list(range())

TypeError: range expected at least 1 argument, got 0

In [120]:
list(range(2,10,1.5))

TypeError: 'float' object cannot be interpreted as an integer

In [1]:
list(range(2,10,2))

[2, 4, 6, 8]

In [2]:
list(range(-5,10,2))

[-5, -3, -1, 1, 3, 5, 7, 9]

In [3]:
list(range(2,10,-1))

[]

In [4]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [6]:
list(range(2,50,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [7]:
print(list(range(2,50,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]