Odev1: Kullanicidan 1(dahil) ve 9(dahil)arasinda bir sayi isteyin.bu sayini carpim tablosunu olusturun.

In [2]:
number = int(input("bir sayi girin.1 ve 9 arasinda"))
if 1 <= number <= 9:
    for i in range(1,11):
        print(f"{number} x {i:<2} = {number * i}")
else:
    print("girdiginiz sayi 1 ile 9 arasinda degil")

8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [3]:
number = int(input("bir sayi girin.1 ve 9 arasinda"))
if 1 <= number <= 9:
    for i in range(1,11):
        carpim = number * 1
        print(f"{number} x {i:<2} = {number * i}")
else:
    print("girdiginiz sayi 1 ile 9 arasinda degil")

4 x 1  = 4
4 x 2  = 8
4 x 3  = 12
4 x 4  = 16
4 x 5  = 20
4 x 6  = 24
4 x 7  = 28
4 x 8  = 32
4 x 9  = 36
4 x 10 = 40

Odev2: Kullanicidan 1(dahil) ve 9(dahil)arasinda bir sayi isteyin.bu sayini carpim tablosunu olusturun.kullanici bu araliktan farkli bir degergirdiyse tekrar dogru girmesini isteyin.

In [8]:

while True:
  number = int(input("bir sayi girin.1 ve 9 arasinda"))
  if 1 <= number <= 9:
        for i in range(1,11):
            print(f"{number} x {i:<2} = {number * i}")
        break
  else:
        print("girdiginiz sayi 1 ile 9 arasinda degil.Tekrar sayi girin")

girdiginiz sayi 1 ile 9 arasinda degil.Tekrar sayi girin
girdiginiz sayi 1 ile 9 arasinda degil.Tekrar sayi girin
7 x 1  = 7
7 x 2  = 14
7 x 3  = 21
7 x 4  = 28
7 x 5  = 35
7 x 6  = 42
7 x 7  = 49
7 x 8  = 56
7 x 9  = 63
7 x 10 = 70

In [14]:
#ödev 2 çözüm 3 deneme hakı = 3

sayaç = 0

while True:

    number = int(input("bir sayi girin.1 ve 9 arasinda"))

    sayaç += 1

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayi 1 ile 9 arasinda değil. Tekrar sayi girin.")

    if sayaç == 3:
        break

for i in [1,2,3,4,5,6,7,8,9,10]:

    print(f"{number} x {i:<2} = {number * i}")

8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [15]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayi girin.1 ve 9 arasinda"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayi 1 ile 9 arasinda değil. Tekrar sayi girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

girdiğiniz sayi 1 ile 9 arasinda değil. Tekrar sayi girin.
3 x 1  = 3
3 x 2  = 6
3 x 3  = 9
3 x 4  = 12
3 x 5  = 15
3 x 6  = 18
3 x 7  = 21
3 x 8  = 24
3 x 9  = 27
3 x 10 = 30

In [16]:
1 den 50(50 dahil) sayilarin toplamini bulan kodu yazin.

SyntaxError: invalid syntax (3844849613.py, line 1)

In [17]:
sayilarin_toplami = 0
for i in range(1,51):
    sayilarin_toplami += i
    print(sayilarin_toplami)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [18]:
50 * 51 / 2

1275.0

In [19]:
sum(range(1,51))

1275

In [21]:
sum([1,2,3,4,5])

15

In [22]:
sum((1,2,3,4,5))

15

In [23]:
sum({1,2,3,4,5})

15

In [24]:
sum(["a","b"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
sum([True, 2, 3.0,4,5])

15.0

In [26]:
sum([True,2,3.0,4,5],100)

115.0

In [35]:
toplam = 0
for i in range(2,51,2):
    toplam += i
print(toplam)

650

In [30]:
# yontem-1
toplam = 0
for i in range(2,51,2):
    toplam += toplam + i
print(toplam)

134217674

In [34]:
# yontem-2
toplam = 0
for i in range(1,51):
    if i % 2 == 0:
        toplam += i
print(toplam)

650

In [33]:
# yontem-3
sum(range(0,51,2))

650

# break,continue

In [36]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [37]:
for i in liste_1:
    print(i ** 2)

1
4
9
16
25

In [38]:
#3 ve 3 kati sayiya denk geldiginde kod bitsin.Diger durumda sayilarin karesini yazdirsin.
for i in liste_1:
    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [39]:
#3 ve 3 kati sayiya denk geldiginde kod devam etsin ancak islem yapmasin.Diger durumda sayilarin karesini yazdirsin.
for i in liste_1:
    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

In [48]:
#cift sayilarin toplami 1 ve 50 arasi
# yontem-4
for i in range(1,51):
    if i % 2 == 1:
        continue
    else: 
        toplam += i
print(toplam)

6500

# zip()

In [49]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [50]:
zip(a,b)

In [52]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [55]:
list(zip(b,a))

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [53]:
x = "Techpro"
y = "Cihan"
z = "Ayse"

In [54]:
list(zip(x,y,z))

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 's'), ('h', 'a', 'e')]

In [56]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [57]:
meyveler = ["apple", "orange", "apple"]
adet = [1,2,3]

In [58]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [77]:
name = (["irem", "betul", "Tulay"])
age = [25,26,27]
job = ["data_scientist", "puthon_developer","data_analyst"]

In [78]:
list(zip(name,age,job))

[('irem', 25, 'data_scientist'),
 ('betul', 26, 'puthon_developer'),
 ('Tulay', 27, 'data_analyst')]

In [79]:
for item in zip(name,age,job):
    print(item)

('irem', 25, 'data_scientist')
('betul', 26, 'puthon_developer')
('Tulay', 27, 'data_analyst')

In [80]:
for i, j, k in zip(name,age,job):
     print(f"name: {i:<6}, age{j}, job: {k}")

name: irem  , age25, job: data_scientist
name: betul , age26, job: puthon_developer
name: Tulay , age27, job: data_analyst

In [81]:
for i, j in zip(name,age.job):
    print(f"name: {i:<6}, age: {j}")

AttributeError: 'list' object has no attribute 'job'

In [87]:
print(list[name,age,job])

list[['irem', 'betul', 'Tulay'], [25, 26, 27], ['data_scientist', 'puthon_developer', 'data_analyst']]

In [89]:
for i, j, k in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}")

name: irem  , age: 25
name: betul , age: 26
name: Tulay , age: 27

In [90]:
for i in range(1,11):
    print("Degiskene ihtiyacim yok")

Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok
Degiskene ihtiyacim yok

## enumarate()

In [91]:
name

['irem', 'betul', 'Tulay']

In [92]:
enumerate(name)

In [93]:
list(enumerate(name))

[(0, 'irem'), (1, 'betul'), (2, 'Tulay')]

In [94]:
list(enumerate(name, 100))

[(100, 'irem'), (101, 'betul'), (102, 'Tulay')]

In [101]:
number_liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
# listenin min ve max degerleri arasinda ki kayip sayilari bulun

In [111]:
min_deger = min(number_liste)
max_deger = max(number_liste)
tum_sayilar = set(range(min_deger, max_deger + 1))
kayip_sayilar = list((tum_sayilar) set(number_liste))
print("Minimum :", min_deger)
print("Maksimum deger :", max_deger)
print("Kayip sayilar:", kayip_sayilar)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2921180184.py, line 4)

In [103]:
# cozum-1
kayip_sayilar = []
for i in range(min(number_list),max(number_list)):
    if i not in number_list:
        kayip_sayilar.append(i)
print(kayip_sayilar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [104]:
# cozum-2
kayip_sayilar = []
for i in range(min(number_list),max(number_list)):
    if i  in number_list:
        continue
    
    kayip_sayilar.append(i)
print(kayip_sayilar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [105]:
# cozum-3
full_set = set(range(min(number_list),max(number_list)))
number_set = set(number_list)
full_set - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}