In [1]:
print("""techpro"""'gul'"?"'!')

techprogul?!

In [2]:
print(""""2"""")

SyntaxError: unterminated string literal (detected at line 1) (3612974526.py, line 1)

In [3]:
print(""""2""")

"2

 # pep8 KurallarÄ±

In [ ]:
# pep8 Kurallari # burasi markdown satirdir

In [ ]:
3 + 6

# pep8 Kurallari

In [ ]:
prin("Bugun poython dersinin ikinci gunu.
     Derse baslarken hoca basladi bir tirnak mevzusuna bi turlu bitmedi.
     Insallah basima bela olmaz""") # pep8 derki; bir satirda 79 karakterden fazlasi olmasin

# comment

In [ ]:
3 + 5 # 3 ile 5 in toplamidir.

In [ ]:
3 + 5 # 3 ile 5

# variables

In [10]:
print("Techpro education")

Techpro education

In [11]:
course = "Techpro education"

In [13]:
print(course)

Techpro education

In [14]:
print(name)

NameError: name 'name' is not defined

In [15]:
name = "Sedat"

In [16]:
print(name)

Sedat

In [17]:
print(age)

NameError: name 'age' is not defined

In [18]:
age = 32

In [19]:
print(age)

32

In [20]:
print(age_1)
 age_1 = 35

IndentationError: unexpected indent (2555095374.py, line 2)

In [21]:
 
 age_2 = 35
 print(age_2)

35

In [22]:
name_1 = "Orkun" 
name2 = "Serhan"

In [23]:
print(name_1)
print(name2)

Orkun
Serhan

In [24]:
pi_number = 3.14

In [26]:
pi-number = 3.14

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2855947407.py, line 1)

In [28]:
name_3 = "Emre"
4_name = "Mikail" # Degisken tanimlarken numeric karakterler basta olmaz.

SyntaxError: invalid decimal literal (3930867595.py, line 2)

In [29]:
$name = "Bahar"

SyntaxError: invalid syntax (3909088492.py, line 1)

In [30]:
name_5 = "Aytac"
name_6 = "Erkan"
age_3 = 33

In [31]:
print(name_6, name_5, age_3)

Erkan Aytac 33

In [32]:
print(name_6, name_5 age_3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3405717067.py, line 1)

In [33]:
name_7, name_8 = "Mustafa", "Ceren"

In [34]:
print(name_7, name_8)

Mustafa Ceren

In [36]:
name_9, name_10 = "Kadir, Betul"

ValueError: too many values to unpack (expected 2)

In [37]:
name_11, name_12 = "Sumeyye","Sumeyye"

In [38]:
name_13 = name_14 = "Ahmet"

In [39]:
print(name_13, name_14)

Ahmet Ahmet

In [40]:
first_name = "Sedat"
last_name = "Aslan"

In [41]:
f_n = "Sedat"
l_n = "Aslan"

# Data Types

In [42]:
"hello world" # string

'hello world'

In [43]:
"35" # string

'35'

In [44]:
type("hello world")

str

In [45]:
type("35")

str

In [47]:
name

'Sedat'

In [46]:
type(name)

str

In [48]:
age_4 = 25

In [49]:
type(age_4)

int

In [50]:
negative_number = -20

In [51]:
type(negative_number)

int

In [52]:
kesirli_sayi = 5.4

In [53]:
type(kesirli_sayi)

float

In [54]:
type(pi_number)

float

In [55]:
type(2.4)

float

In [56]:
pi_number_2 = 3,14

In [57]:
type(pi_number_2)

tuple

In [58]:
type(3,14)

TypeError: type() takes 1 or 3 arguments

In [59]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

# boolean

In [ ]:
type(False) # matematiksel karsiligi sifir(0) dir.Yoklugu/hicligi ifade eder.

In [60]:
type(True) # matematiksel birdir(1) dir.Varligi ifade eder.

bool

In [61]:
type(true)

NameError: name 'true' is not defined

In [62]:
a arab= "Renault"

In [63]:
print(araba)

Renault

In [64]:
araba_2 = "Renault"

In [65]:
print(araba_2)

Renault

In [66]:
araba_2 = "Opel"

In [67]:
print(araba_2)

Opel

In [68]:
arabanin_yasi = 3

In [70]:
arabanin_kazasi = False

In [71]:
arabanin_kazasi_2 = "False"

In [74]:
type(arabanin_kazasi_2)

str

In [73]:
type(arabanin_kazasi)

bool

In [69]:
arabanin_kilometresi = 1250.4

In [77]:
araba_3 = "citroen"

In [75]:
araba_3 = "ford"

In [78]:
print(araba_3)

citroen

In [79]:
del araba_3