In [1]:
type(age)

NameError: name 'age' is not defined

In [2]:
str(3.14)

'3.14'

In [3]:
str(True)

'True'

In [5]:
str(3,14)

TypeError: str() argument 'encoding' must be str, not int

In [6]:
pi_number = 3.14
type(pi_number)

float

In [7]:
str(pi_number)

'3.14'

In [8]:
type(pi_number)

float

In [9]:
pi_number = str(pi_number)

In [10]:
type(pi_number)

str

In [11]:
name = "safiye"

In [12]:
age = 36

str to int

In [14]:
age_1 = "33"
type(age_1)

str

In [15]:
int(age_1)

33

In [16]:
type(age_1)

str

In [17]:
2024 - age_1

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [18]:
2024 - int(age_1)

1991

In [19]:
age_1 = int(age_1)

In [20]:
2024 - age_1

1991

In [21]:
int("32a")

ValueError: invalid literal for int() with base 10: '32a'

In [22]:
int("-30")

-30

### str to float

In [23]:
float("3.14")

3.14

In [24]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

float to int , int to float

In [25]:
int(5.4)

5

In [26]:
int(5.6)

5

In [27]:
int(5.99999)  # int. fonksiyonu noktadan sonrasini siler flotan integera cevirirken

5

In [28]:
int(5.9999999999999999)

6

In [29]:
int(22/7)

3

In [30]:
float(5)

5.0

In [31]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [32]:
float("3.14")

3.14

In [33]:
int(float("3.14"))

3

#### bool to int , bool to flat

In [34]:
int(True)

1

In [35]:
int(False)

0

In [36]:
float(True)

1.0

In [37]:
float(False)

0.0

In [38]:
str(False)

'False'

# Aritmetic Operarorler

In [39]:
3 + 5

8

In [40]:
9 - 4

5

In [41]:
8 * 5

40

In [42]:
40 / 10 # bolme isleminin sonucu herzaman floattir

4.0

In [43]:
2.4 * 5

12.0

In [44]:
25 / 3 # division

8.333333333333334

In [46]:
25 // 3 # floor division tam sayi

8

In [47]:
25 % 3 # modulus kalan sayi

1

In [48]:
2 ** 3

8

In [49]:
5 ** 2

25

In [50]:
3 % 2

1

In [51]:
6 % 2

0

In [52]:
25 ** 0.5 # 1 / 2

5.0

In [53]:
x = (4 +2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [54]:
x = (4 +2) ** (4 ** (1 * 2 / 2) / 2)
x

36.0

In [55]:
x = (4 +2) ** (4 ** (1 * 2 / 2) / 2)

In [56]:
25 ** 1 / 2

12.5

In [57]:
25 ** (1 / 2)

5.0

yari capi 7 olan bir dairenin alanini bulan python kodunu yazin. pi = 3.14

In [58]:
pi = 3.14
r = 7
alan = pi * (r ** 2)
print("yari capi 7 olan dairenin alani:", alan)

yari capi 7 olan dairenin alani: 153.86

In [61]:
pi = 3.14
r = 7
alan = pi * (r ** 2)
r = 5
print("yari capi 5 olan dairenin alani:", alan)

yari capi 5 olan dairenin alani: 153.86

In [60]:
pi = 3.14
r = 7
alan = pi * (r ** 2)
r = 5
alan = pi * (r ** 2)
print("yari capi 5 olan dairenin alani:", alan)

yari capi 5 olan dairenin alani: 78.5

In [63]:
age = 32
age = 34
age = 45
print(age)

45

In [64]:
age = 32, name = "safiye"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2959653363.py, line 1)

In [65]:
age, name = 36 , "safiye"

In [66]:
pi = 3.14
r = 9
alan = pi * (r ** 2)
print(int("yari capi 9 olan dairenin alani:",alan))

TypeError: 'float' object cannot be interpreted as an integer